.timer {
  width: 523px;
  height: 67px;
  margin-bottom: 20px;
  color: #333;
}

.timerMain {
  float: left;
  width: 452px;
  height: 67px;
  padding: 16px;
  border: solid;
  border-width: 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: #ccc;
}

.timerTitle {
  float: left;
  width: 255px;
  height: 33px;
  padding: 5px;
  border: solid;
  border-width: 1px;
  margin-right: 16px;
  border-color: #ccc;
}

.timerOutput {
  float: left;
  width: 97px;
  height: 33px;
  margin-right: 16px;
}

.timerBoxCell {
  float: left;
  width: 33px;
  height: 33px;
  padding-top: 5px;
  border: solid;
  border-width: 1px;
  margin-right: -1px;
  text-align: center;
  border-color: #ccc;
}

.timerRightButtons {
  float: left;
  height: 67px;
  margin-left: -1px;
}

.timerRightButtons .btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.timerButtonCell {
  float: left;
  width: 50px;
  height: 29px;
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
}

.timerButtonCell:last-child {
  margin-top: -1px;
}
