<template name="timerItem">
  <div class="timer">
    <div class="timerMain">
      <div class="timerTitle">{{title}}</div>
      <div class="timerOutput">
        <div class="timerBoxCell">{{hours}}</div>
        <div class="timerBoxCell">{{minutes}}</div>
        <div class="timerBoxCell">{{seconds}}</div>
      </div>
      <div class="timerBoxCell">{{count}}</div>
    </div>
    <div class="timerRightButtons btn-group-vertical">
      <button type="button" class="btn btn-default">Start</button>
      <button type="button" class="btn btn-default">Reset</button>
    </div>
  </div>
</template>